@media all and (min-width: 480px) {
  .Settings {
    padding: 30px 0;
  }

  .Settings form {
    margin: 0 auto;
    max-width: 480px;
  }
}

.Change {
  max-width: 480px;
  margin: 0 auto 3rem auto;
}
